    .dialog-container {
        width: 16vw;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .dialog-header {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .toggle-section {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 1rem;

            .warning-color {
                color: red;
            }
        }

        .custom-button-theme {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            margin-top: 1.5rem;
            
            .button-warn:hover {
                background-color: var(--warn-button-hover-color);
                color: white;
            
                mat-icon {
                    color: white;            
                }
                span {
                    color: white;
                }
            }
        }
    }

   ::ng-deep mat-button-toggle-standalone mat-button-toggle-appearance-standard mat-pseudo-checkbox, mat-button-toggle-group-appearance-standard mat-pseudo-checkbox {
    --mat-pseudo-checkbox-minimal-selected-checkmark-color: rgb(255 255 255 / 87%);
}